body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background: linear-gradient(90deg, rgb(32, 30, 30) 0%, rgba(51, 50, 50, 0.8) 50%, rgb(51, 48, 48) 100%);
}

.cabecalho {
    height: 75px;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.img {
    width: 7rem;
    mix-blend-mode: multiply;
}

.logo {
    display: flex;
    align-items: center;
    transition: 0.2s ease-in-out;
}

.header h1 {
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

a:hover h1 {
    color: rgb(154, 159, 161);
} 

.menu li {
    margin: 10px;
    font-size: 23px;
    font-weight: 700;
}
.header nav ul li a {
    font-weight: 700;
    padding: 10px 30px;
}
 
nav ul li a:hover {
    cursor: pointer;
    transition: 0.3s ease-in-out;
    color: rgb(154, 159, 161);
}

.projetos-principais .paineis {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 800px;
}

.projetos-principais .paineis .imagem-painel {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 100%;
    height: 100%;
    position: absolute;
    filter: brightness(75%);
    opacity: 0;
    transition: o.3s ease-in-out;
    border-radius: 25px;
}

.projetos-principais .paineis .imagem-painel.projeto1 {
    background-image: url('../images/4.jpg');
}

.projetos-principais .paineis .imagem-painel.projeto2 {
    background-image: url('../images/1.jpg');
}

.projetos-principais .paineis .imagem-painel.projeto3 {
    background-image: url('../images/2.jpg');
}

.projetos-principais .paineis .imagem-painel.projeto4 {
    background-image: url('../images/3.jpg');
}

.projetos-principais .paineis .imagem-painel.projeto5 {
    background-image: url('../images/5.jpg');
}

.projetos-principais .paineis .imagem-painel.projeto6 {
    background-image: url('../images/6.jpg');
}

.projetos-principais .paineis .imagem-painel.projeto7 {
    background-image: url('../images/7.jpg');
}

.projetos-principais .paineis .imagem-painel.projeto8 {
    background-image: url('../images/8.jpg');
}

.projetos-principais .paineis .imagem-painel.projeto9 {
    background-image: url('../images/9.jpg');
}

.projetos-principais .paineis .imagem-painel.projeto10 {
    background-image: url('../images/10.jpg');
}

.projetos-principais .paineis .imagem-painel.mostrar {
    opacity: 1;
}



.projetos-principais .paineis .seta {
    background: url('../images/seta.png') no-repeat center;
    background-size: contain;
    width: 50px;
    height: 50px;
    position: absolute;
    text-indent: 100%;
    overflow: hidden;
}

.projetos-principais .paineis .seta.desabilitar {
    left: 0.5;
    cursor: auto;
}

.projetos-principais .paineis .btn-voltar {
    left: 20px;
    transform: rotate(180deg);
}

.projetos-principais .paineis .btn-avancar {
    right: 20px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

footer .social a {
    margin: 10px;
    font-size: 1.5rem;
    transition: 0.3s ease-in-out;
}

footer .social a:hover {
    color: rgb(154, 159, 161);
}

/* RESPONSIVE */
@media (max-width: 1440px) {
    .cabecalho {
        height: 25%;
    }

    .img {
        width: 90px;
    }

    .logo {
        font-size: 25px;
    }

    .menu li {
        font-size: 25px;
        margin: 10px;
    }

    .projetos-principais .paineis .imagem-painel {
        min-width: 100%;
    }
    
}

@media (max-width: 1024px) {
    .cabecalho {
        height: 70px;
    }

    .img {
        width: 80px;
    }

    .logo {
        font-size: 20px;
    }

    .menu li {
        font-size: 20px;
        margin: 10px;
    }

    .projetos-principais .paineis .imagem-painel {
        min-width: 100%;
    }
    
}

@media (max-width: 768px) {
    .cabecalho {
        height: 70px;
    }

    .img {
        width: 80px;
    }

    .logo {
        font-size: 20px;
    }

    .menu li {
        font-size: 20px;
        margin: 4px;
    }

    .projetos-principais .paineis .imagem-painel {
        min-width: 100%;
    }
    
}

@media (max-width: 425px) {
    body {
        max-width: 100%;
        height: 50%;
    }

    .cabecalho {
        height: 50%;
    }

    .img {
       width: 50%;
       margin: -10px -15px;
    }

    .logo {
        font-size: 15px;
        margin-left: auto;
    }

    .menu li {
        font-size: 15px;
        margin: 4px;
    }

    .projetos-principais .paineis .imagem-painel {
        min-width: 100%;
        
    }
}

